.navbar-brand {
    width: 136px;
    height: 40px;
}
.navbar-collapse {
    gap: 10px;
}

/* Nav */
.hr-nav.navbar .navbar-nav {
    gap: 20px;
}

.hr-nav.navbar .navbar-nav .nav-link {
    padding: 8px 16px;
}
.hr-nav.navbar .navbar-nav .nav-link:hover,
.hr-nav.navbar .navbar-nav .nav-link.active {
    background-color: rgba(0, 56, 255, .08);
    color: #0038FF;
    border-radius: 4px;
    padding: 8px 16px;
}
.hr-nav.navbar .navbar-nav .nav-link.active {
    font-weight: 600;
}
.dropdown .btn-light {
    background-color: rgba(196, 196, 196, 0.05);;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    font-size: 14px;
}
.only-icon a::after {display: none;}
.icon-16 {
    width: 24px;
    height: 18px;
    display: flex;
}


main .nav-tabs {border: none;}
main .nav-tabs .nav-link,
main .nav-tabs .nav-link.active,
main .nav-tabs .nav-link:focus, 
main .nav-tabs .nav-link:hover {background: transparent;border: none; margin:0; border-radius: 0;}

main .nav-tabs .nav-link {
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
    font-weight: 300;
}
main .nav-tabs .nav-link.active {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}
main .nav-tabs .nav-link:hover {
    color: rgba(0, 0, 0, 1);
}

main .tab-content .card {
    border: transparent;
    border-radius: 0 10px 10px 0 !important;
    cursor: pointer;
}
main .tab-content .card {box-shadow: 0 .145rem .45rem rgba(0,0,0,.15)!important}
main .tab-content .card .card-text,
main .tab-content .card .card-text small {
    display: flex;
    align-items: center;
    gap: 10px;
}
main .tab-content .card .card-text small {
    background: url(../img/rectangle.svg) no-repeat;
    color: #fff;
    width: 287px;
    height: 56px;
    position: relative;
    left: -16px;
    padding-left: 20px;
}