/* table overall style */
.table-wrapper table {
  table-layout: fixed;
}
.table-wrapper table > tbody > tr {
  vertical-align: middle;
}
.table-wrapper table > tbody > tr > td {
  color: #000000;
}

.table-wrapper table > tbody > tr > td a {
  font-weight: 700;
}

.table-wrapper table > tbody > tr > td.not-found {
  width: 100% !important;
}

/* Status */
.badge {
  font-size: 12px;
}
.customer-badge.status-unqualified,
.modal-body .badge.bg-danger {
  background-color: #f5dbd9 !important;
  color: #ac0c00;
}
.customer-badge.status-proposal,
.modal-body .badge.bg-warning {
  background-color: #feecb5 !important;
  color: #7d5f00;
}
.customer-badge.status-new,
.modal-body .badge.bg-info {
  background-color: #cfe2ff !important;
  color: #084298;
}
.customer-badge.status-qualified,
.modal-body .badge.bg-success {
  background-color: #dff0d0 !important;
  color: #418b00;
}
.customer-badge.status-negotiation {
  background-color: #e2e3e5 !important;
  color: rgba(0, 0, 0, 0.7);
}
.customer-badge.status-renewal,
.modal-body .badge.bg-light {
  background-color: #eccfff !important;
  color: #694382;
}
.customer-badge.status-negotiation,
.modal-body .badge.bg-secondary {
  background-color: #e2e3e5 !important;
  color: rgba(0, 0, 0, 0.7);
}
/* icons */
.pi {
  font-size: 1.25rem;
}

/* header with export and search */
.table-wrapper .p-datatable-header {
  background: none;
  border: none;
  padding: 1rem 1rem;
}

.table-wrapper
  .table-header.p-d-flex.ng-star-inserted
  .p-input-icon-left
  i.pi-search {
  left: 1rem;
}
.table-wrapper
  .table-header.p-d-flex.ng-star-inserted
  .p-input-icon-left
  .p-inputtext {
  /* flex-direction: row-reverse; */
  border-radius: 30px;
  padding: 8px 16px 8px 36px;
  width: 380px;
}

span[class^="customer-"],
span[class^="order-"] {
  text-transform: capitalize;
  padding: 4px 8px;
}

.table-wrapper.cm-listing
  .p-datatable
  .p-element.p-datatable-tbody
  .ng-star-inserted
  > td
  > .p-p-3 {
  width: 900px;
  margin: 0 auto;
  position: relative;
  top: -25px;
  /*left: -5.5%; */
  padding: 8px 16px 8px !important;
}
.table-wrapper.ct-table-listing
  .p-datatable
  .p-element.p-datatable-tbody
  .ng-star-inserted
  > td
  > .p-p-3 {
  width: 900px;
  margin: 0 auto;
  position: relative;
  top: -25px;
  left: -5.5%;
  padding: 8px 16px 8px !important;
}
.table-wrapper
  .p-datatable
  .p-element.p-datatable-tbody
  .ng-star-inserted
  > td
  > .p-p-3
  .p-datatable-thead
  tr
  > th {
  padding: 1rem 0 0;
  background: none;
  font-weight: normal;
  color: #000000;
  opacity: 0.5;
  border-bottom: 0;
}

.table-wrapper
  .p-datatable
  .p-element.p-datatable-tbody
  .ng-star-inserted
  > td
  > .p-p-3
  .p-datatable-tbody
  tr
  > td {
  border: none;
  padding: 10px 0 0 0;
  width: 25%;
}
.table-wrapper
  .p-datatable
  .p-element.p-datatable-tbody
  .ng-star-inserted
  > td
  > .p-p-3
  .p-datatable-tbody
  tr
  > td
  > a {
  font-weight: normal;
}

/* Currency listing */
.table-wrapper.cry-listing .p-component table > tbody > tr > td:nth-child(1) {
  font-weight: 700;
}
.table-wrapper.cry-listing .p-component table > thead > tr > th:nth-child(1),
.table-wrapper.cry-listing .p-component table > tbody > tr > td:nth-child(1) {
  width: 365px;
}
.table-wrapper.cry-listing .p-component table > thead > tr > th:nth-child(2),
.table-wrapper.cry-listing .p-component table > thead > tr > th:nth-child(3),
.table-wrapper.cry-listing .p-component table > thead > tr > th:nth-child(5),
.table-wrapper.cry-listing .p-component table > tbody > tr > td:nth-child(2),
.table-wrapper.cry-listing .p-component table > tbody > tr > td:nth-child(3),
.table-wrapper.cry-listing .p-component table > tbody > tr > td:nth-child(5) {
  width: 160px;
}
.table-wrapper.cry-listing .p-component table > thead > tr > th:nth-child(4),
.table-wrapper.cry-listing .p-component table > tbody > tr > td:nth-child(4) {
  width: 225px;
}

/* currency modal */
.table-wrapper.cry-listing-modal
  .p-component
  table
  > thead
  > tr
  > th:nth-child(2),
.table-wrapper.cry-listing-modal
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(2) {
  width: 220px;
}
.table-wrapper.cry-listing-modal
  .p-component
  table
  > thead
  > tr
  > th:nth-child(3),
.table-wrapper.cry-listing-modal
  .p-component
  table
  > thead
  > tr
  > th:nth-child(4),
.table-wrapper.cry-listing-modal
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(3),
.table-wrapper.cry-listing-modal
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(4) {
  width: 170px;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-body form .table-wrapper.cry-listing-modal {
  height: 100%;
}
.modal-body form .btn-wrapper {
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

/* order listing */
.table-wrapper.cm-listing .p-component table > thead > tr > th:nth-child(1),
.table-wrapper.cm-listing .p-component table > tbody > tr > td:nth-child(1) {
  width: 146px;
}
.table-wrapper.cm-listing .p-component table > thead > tr > th:nth-child(2),
.table-wrapper.cm-listing .p-component table > tbody > tr > td:nth-child(2) {
  width: 122px;
}
.table-wrapper.cm-listing .p-component table > thead > tr > th:nth-child(3),
.table-wrapper.cm-listing .p-component table > thead > tr > th:nth-child(4),
.table-wrapper.cm-listing .p-component table > tbody > tr > td:nth-child(3),
.table-wrapper.cm-listing .p-component table > tbody > tr > td:nth-child(4) {
  width: 255px;
}
.table-wrapper.cm-listing .p-component table > thead > tr > th:nth-child(5),
.table-wrapper.cm-listing .p-component table > tbody > tr > td:nth-child(5) {
  width: 150px;
}

/* Order listing - Child table */

/* product listing */
.table-wrapper.pd-listing .p-component table > thead > tr > th:nth-child(1),
.table-wrapper.pd-listing .p-component table > tbody > tr > td:nth-child(1) {
  width: 429px;
}
.table-wrapper.pd-listing .p-component table > thead > tr > th:nth-child(2),
.table-wrapper.pd-listing .p-component table > tbody > tr > td:nth-child(2) {
  width: 300px;
}
.table-wrapper.pd-listing .p-component table > thead > tr > th:nth-child(3),
.table-wrapper.pd-listing .p-component table > thead > tr > th:nth-child(4),
.table-wrapper.pd-listing .p-component table > thead > tr > th:nth-child(5),
.table-wrapper.pd-listing .p-component table > tbody > tr > td:nth-child(3),
.table-wrapper.pd-listing .p-component table > tbody > tr > td:nth-child(4),
.table-wrapper.pd-listing .p-component table > tbody > tr > td:nth-child(5) {
  width: 150px;
}

/* events listings */
.table-wrapper.ev-listing .p-component table > thead > tr > th:nth-child(2),
.table-wrapper.ev-listing .p-component table > tbody > tr > td:nth-child(2) {
  width: 300px;
}
.table-wrapper.ev-listing .p-component table > thead > tr > th:nth-child(3),
.table-wrapper.ev-listing .p-component table > tbody > tr > td:nth-child(3) {
  width: 170px;
}
.table-wrapper.ev-listing .p-component table > thead > tr > th:nth-child(4),
.table-wrapper.ev-listing .p-component table > tbody > tr > td:nth-child(4) {
  width: 300px;
}
.table-wrapper.ev-listing .p-component table > tbody > tr > td > img {
  width: 50px;
  display: inline-flex;
}

.table-wrapper.ev-listing .p-component table > tbody > tr > td.ev-alert {
  padding: 0 1rem;
}
.table-wrapper.ev-listing .p-component table > tbody > tr > td.ev-alert .alert {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}

/* customer listing */
.table-wrapper.cmt-listing .p-component table > thead > tr > th:nth-child(1),
.table-wrapper.cmt-listing .p-component table > tbody > tr > td:nth-child(1) {
  width: 25%;
}
.table-wrapper.cmt-listing .p-component table > thead > tr > th:nth-child(2),
.table-wrapper.cmt-listing .p-component table > tbody > tr > td:nth-child(2) {
  width: 30%;
}
.table-wrapper.cmt-listing .p-component table > thead > tr > th:nth-child(3),
.table-wrapper.cmt-listing .p-component table > tbody > tr > td:nth-child(3) {
  width: 20%;
}
.table-wrapper.cmt-listing .p-component table > thead > tr > th:nth-child(4),
.table-wrapper.cmt-listing .p-component table > tbody > tr > td:nth-child(4) {
  width: 15%;
}

/* events modal */
.table-wrapper.ev-modal-time-period .p-component table,
.table-wrapper.ev-modal-products .p-component table,
.table-wrapper.ev-modal-pricing-rules .p-component table {
  width: 100%;
}
.table-wrapper.ev-modal-time-period .p-component table > thead > tr > th,
.table-wrapper.ev-modal-time-period .p-component table > tbody > tr > td,
.table-wrapper.ev-modal-products .p-component table > thead > tr > th,
.table-wrapper.ev-modal-products .p-component table > tbody > tr > td,
.table-wrapper.ev-modal-pricing-rules .p-component table > thead > tr > th,
.table-wrapper.ev-modal-pricing-rules .p-component table > tbody > tr > td {
  flex: none;
}

.table-wrapper.ev-modal-time-period div.p-paginator-bottom,
.table-wrapper.ev-modal-products div.p-paginator-bottom,
.table-wrapper.ev-modal-pricing-rules div.p-paginator-bottom {
  justify-content: start;
  border: none;
}
.table-wrapper.ev-modal-time-period div.p-paginator-bottom .p-paginator-current,
.table-wrapper.ev-modal-products div.p-paginator-bottom .p-paginator-current,
.table-wrapper.ev-modal-pricing-rules
  div.p-paginator-bottom
  .p-paginator-current {
  padding-left: 0;
  cursor: initial;
}

/* modal - time period  (add+edit form) */
.table-wrapper.ev-modal-time-period
  .p-component
  table
  > thead
  > tr
  > th:nth-child(1),
.table-wrapper.ev-modal-time-period
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(1) {
  width: 200px;
}
.table-wrapper.ev-modal-time-period
  .p-component
  table
  > thead
  > tr
  > th:nth-child(2),
.table-wrapper.ev-modal-time-period
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(2) {
  width: 326px;
}

.table-wrapper.ev-modal-time-period
  .p-component
  table
  > thead
  > tr
  > th:nth-child(3),
.table-wrapper.ev-modal-time-period
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(3) {
  width: 171px;
}
.table-wrapper.ev-modal-time-period
  .p-component
  table
  > thead
  > tr
  > th:nth-child(4),
.table-wrapper.ev-modal-time-period
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(4) {
  width: 61px;
}

/* modal - products (add+edit form) */


.table-wrapper.ev-modal-pricing-rules
  .p-component
  table
  > thead
  > tr
  > th:nth-child(1),
.table-wrapper.ev-modal-pricing-rules
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(1) {
  width: 250px;
}
.table-wrapper.ev-modal-products
  .p-component
  table
  > thead
  > tr
  > th:nth-child(1),
.table-wrapper.ev-modal-products
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(1) {
  width: 250px;
}
.table-wrapper.ev-modal-pricing-rules
  .p-component
  table
  > thead
  > tr
  > th:nth-child(2),
.table-wrapper.ev-modal-pricing-rules
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(2)
.table-wrapper.ev-modal-products
  .p-component
  table
  > thead
  > tr
  > th:nth-child(2),
.table-wrapper.ev-modal-products
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(2) {
  width: 160px;
}
.table-wrapper.ev-modal-products
  .p-component
  table
  > thead
  > tr
  > th:nth-child(3),
.table-wrapper.ev-modal-products
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(3),
.table-wrapper.ev-modal-pricing-rules
  .p-component
  table
  > thead
  > tr
  > th:nth-child(4),
.table-wrapper.ev-modal-pricing-rules
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(4) {
  width: 80px;
}
.table-wrapper.ev-modal-products
  .p-component
  table
  > thead
  > tr
  > th:nth-child(3),
.table-wrapper.ev-modal-products
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(3),
.table-wrapper.ev-modal-products
  .p-component
  table
  > thead
  > tr
  > th:nth-child(4),
.table-wrapper.ev-modal-products
  .p-component
  table
  > tbody
  > tr
  > td:nth-child(4) {
  justify-content: center;
}

/* modal - pricing rules */




.inv-cart-body .table thead th {
  font-weight: 600;
  color: #495057;
  font-size: 14px;
}
.inv-cart-body .table tbody {
  border: inherit;
}

/* Pagination */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  border-radius: 30px;
  border: 1px solid #c7d2fe;
  background-color: #eef2ff;
}

.p-paginator .p-dropdown {
  display: flex;
  align-items: center;
}
.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #495057;
  width: 2.357rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.p-dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
