.side-nav .list-group {
  min-height: 760px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  left: -19px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-left: 16px;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
}

.side-nav .list-group-item {
  border: none;
  padding-left: 5px;
}
.side-nav .list-group-item a {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  text-decoration: none;
}
.side-nav .list-group-item a.active,
.side-nav .list-group-item a:hover {
  background-color: rgba(0, 56, 255, 0.05);
  color: #0038ff;
  border-radius: 6px;
}
.side-nav .list-group-item a.active {
  font-weight: 700;
}
.side-nav .list-group-item:first-child {
  border-top-right-radius: 40px;
  margin-top: 20px;
}
.side-nav .list-group-item:last-child {
  border-bottom-right-radius: 40px;
}

main {
  height: calc(100% - 80px);
}

.nav-pills.cst-nav-tab {
  border-bottom: 1px solid rgb(0 0 0 / 7%);
}
.nav-pills.cst-nav-tab .nav-link {
  border-radius: 0;
  background: transparent;
  color: rgb(0 0 0 / 50%);
  padding: 12px 26px;
}
.nav-pills.cst-nav-tab .nav-link.active {
  color: #0038ff;
  font-weight: 700;
  border-bottom: 4px solid #0038ff;
}

/* events */
.ev-create {
  gap: 60px;
}
.ev-create .nav-item .nav-link.active {
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}
.ev-create .nav-item .nav-link {
  width: 206px;
}
.ev-create .nav-item {
  position: relative;
}
.ev-create .nav-item::after {
  background-color: rgb(49 132 253 / 50%);
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  width: 60px;
  top: 18px;
  left: 100%;
}
.ev-create .nav-item:last-child::after {
  display: none;
}
.ev-img-placeholder {
  width: 100px;
  height: 107px;
}
